@model IPagedList<AppUser>

<div id="partialUser">
    <div class="pagedList" data-movies-targetId="#partialUser">
        @Html.PagedListPager(Model,
        page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    <table class="table" style="width:80%;">
        <tr>
            <th>
                Id
            </th>
            <th>
                用户名
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @if (Model == null)
        {
            <tr>
                <td colspan="4" class="text-center">暂无数据</td>
            </tr>
        }
        else
        {
            foreach (AppUser user in Model)
            {
                <tr>
                    <th>
                        @user.Id
                    </th>
                    <th>
                        @user.UserName
                    </th>
                    <th>
                        @user.Email
                    </th>
                </tr>
            }
        }
    </table>
</div>
