@model AppUser
    <h2>
        Edit
    </h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model=>model.Id)
    <table>
        <tr>
            <th>
                userName:@Model.UserName
            </th>
        </tr>
        <tr>
            <th>
                email:@Html.TextBoxFor(model => model.Email,new { @name="email"})
            </th>
        </tr>
        <tr>
            <th>
                password:@Html.TextBox("password")
            </th>
        </tr>
    </table>
    <input type="submit" value="保存" />
    }
</div>