<div id="cont">
    <div class="box">
        <div class="content">
        <img src="~/Resources/baby.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/baby2.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/bear.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/BEER.png" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/building.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/girl.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/monster.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/rabbit.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/rabbit2.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/sd.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/sky.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/sky2.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/smile.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/snake.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/student.jpg" />
        </div>
    </div>
    <div class="box">
        <div class="content">
            <img src="~/Resources/企鹅.jpg" />
        </div>
    </div>
</div>
