
@{
    ViewBag.Title = "Index";
}
<div class="all">
        <section class="section">
            <img src="" alt="" />
        </section>
        <section class="section">
            第二屏
        </section>
        <section class="section">
            第三屏
        </section>
        <section class="section">
            第四屏
        </section>
        <section class="section">
            第五屏
        </section>
</div>

